header {
    font-size: 1.2rem;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 50px;
}

.searchbox {
    width: 300px;
    display: flex;
}

.search {
    width: 200px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
}

#searchBtn {
    color: white;
    border-radius: 0 10px 10px 0;
}

.profile {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
